<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /via/

  # Force trailing slash on the via folder itself
  RewriteCond %{THE_REQUEST} \s/via[^/]?\s [NC]
  RewriteRule ^$ /via/ [R=301,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /via/index.html [L]
</IfModule>